* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #A8CD9F;
}

.navbar {
    background-color: #007bff;
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.content .profile {
    padding: 0;
    display: flex;
    justify-content: center;
}

.content li {
    color: white;
    background-color: #496989;
    list-style-type: none;
}

.content article {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px 0;
    border-bottom: 2px solid #A8CD9F;
}

.profile a {
    border-radius: 20%;
    background-color: white;
}


main {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
}

.card {
    display: flex;
    /* Mengatur .card sebagai flex container */
    align-items: center;
    /* Menengahkan items secara vertikal */
    justify-content: start;
    /* Menyelaraskan konten ke awal */
    padding: 20px;
    /* Menambahkan padding untuk estetika */
    gap: 20px;
    /* Menambahkan gap antar items */
    position: relative;
    /* Mempersiapkan posisi relatif untuk pemosisian elemen absolut */
}

.card img {
    width: 300px;
    /* Menentukan ukuran gambar */
    height: auto;
    /* Menjaga rasio aspek gambar */
    border-radius: 0%;
    /* Menghilangkan lengkungan */
    object-fit: cover;
    /* Menutupi area yang ditentukan tanpa memotong gambar */
    align-self: flex-start;
    /* Menyelaraskan gambar ke atas */
}

.card-content {
    flex-grow: 1;
    /* Memungkinkan elemen informasi mengisi ruang tersisa */
    padding-left: 20px;
    /* Menambahkan padding kiri untuk pemisahan dari gambar */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.card div a:hover {
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        /* Mengubah arah flex items menjadi vertikal */
        align-items: flex-start;
        /* Menyelaraskan items ke kiri */
    }

    .card img {
        width: 100%;
        /* Mengubah lebar gambar menjadi penuh */
        max-width: 200px;
        /* Membatasi lebar maksimum gambar */
        height: auto;
        /* Menjaga rasio aspek */
        margin-bottom: 20px;
        /* Menambahkan margin bawah untuk pemisahan dari teks */
    }

    .card-content {
        padding-left: 0;
        /* Menghilangkan padding kiri pada tampilan mobile */
    }

    .card h2 {
        font-size: 18px;
    }

    main {
        margin: 10px;
    }
}